In [4]:
# import libraries
import pandas as pd

Loading all data tables and selecting only the needed / interesting columns

In [6]:
# load WHO TB Report 2024 to collect the case numbers per country for 2023
TB_burden = "WHO_TB_burden_countries_2024.csv"
df_TB_burden = pd.read_csv(TB_burden)
df_TB_burden

,country_name,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_100k_lo,e_inc_100k_hi,...,cfr,cfr_lo,cfr_hi,cfr_pct,cfr_pct_lo,cfr_pct_hi,c_newinc_100k,c_cdr,c_cdr_lo,c_cdr_hi
0,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,122.0,271.0,...,0.37,0.17,0.61,37.0,17.0,61.0,35.0,19.0,13.0,29.0
1,Afghanistan,AF,AFG,4,EMR,2001,20284311,189.0,122.0,271.0,...,0.35,0.16,0.56,35.0,16.0,56.0,50.0,26.0,18.0,41.0
2,Afghanistan,AF,AFG,4,EMR,2002,21378110,189.0,122.0,270.0,...,0.31,0.15,0.51,31.0,15.0,51.0,65.0,34.0,24.0,53.0
3,Afghanistan,AF,AFG,4,EMR,2003,22733047,189.0,122.0,270.0,...,0.32,0.15,0.52,32.0,15.0,52.0,61.0,32.0,23.0,50.0
4,Afghanistan,AF,AFG,4,EMR,2004,23560660,189.0,122.0,270.0,...,0.28,0.13,0.46,28.0,13.0,46.0,78.0,41.0,29.0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5112,Zimbabwe,ZW,ZWE,716,AFR,2019,15271376,199.0,147.0,258.0,...,0.22,0.14,0.31,22.0,14.0,31.0,138.0,69.0,53.0,93.0
5113,Zimbabwe,ZW,ZWE,716,AFR,2020,15526885,188.0,132.0,248.0,...,0.24,0.15,0.34,24.0,15.0,34.0,101.0,54.0,41.0,77.0
5114,Zimbabwe,ZW,ZWE,716,AFR,2021,15797209,199.0,134.0,262.0,...,0.25,0.16,0.37,25.0,16.0,37.0,103.0,52.0,39.0,77.0
5115,Zimbabwe,ZW,ZWE,716,AFR,2022,16069054,209.0,139.0,280.0,...,0.26,0.15,0.38,26.0,15.0,38.0,113.0,54.0,41.0,82.0
5116,Zimbabwe,ZW,ZWE,716,AFR,2023,16340822,211.0,135.0,284.0,...,0.24,0.14,0.35,24.0,14.0,35.0,118.0,56.0,41.0,87.0

In [12]:
# Drop all columns containing "_lo" or "_hi" or "_100k"
df_TB_burden = df_TB_burden.drop(columns=[col for col in df_TB_burden.columns if col.endswith(("_lo", "_hi", "_100k"))])
df_TB_burden

,country_name,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_num,e_tbhiv_prct,e_inc_tbhiv_num,e_mort_exc_tbhiv_num,e_mort_tbhiv_num,e_mort_num,cfr,cfr_pct,c_cdr
0,Afghanistan,AF,AFG,4,EMR,2000,20130323,38000,0.02,6.0,14000.0,34.0,14000.0,0.37,37.0,19.0
1,Afghanistan,AF,AFG,4,EMR,2001,20284311,38000,0.01,6.0,13000.0,61.0,13000.0,0.35,35.0,26.0
2,Afghanistan,AF,AFG,4,EMR,2002,21378110,40000,0.01,6.0,12000.0,58.0,12000.0,0.31,31.0,34.0
3,Afghanistan,AF,AFG,4,EMR,2003,22733047,43000,0.01,6.0,13000.0,66.0,13000.0,0.32,32.0,32.0
4,Afghanistan,AF,AFG,4,EMR,2004,23560660,44000,0.01,6.0,12000.0,67.0,12000.0,0.28,28.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5112,Zimbabwe,ZW,ZWE,716,AFR,2019,15271376,30000,60.00,18000.0,1700.0,4800.0,6500.0,0.22,22.0,69.0
5113,Zimbabwe,ZW,ZWE,716,AFR,2020,15526885,29000,61.00,17000.0,2000.0,4800.0,6800.0,0.24,24.0,54.0
5114,Zimbabwe,ZW,ZWE,716,AFR,2021,15797209,31000,62.00,19000.0,2300.0,5400.0,7800.0,0.25,25.0,52.0
5115,Zimbabwe,ZW,ZWE,716,AFR,2022,16069054,34000,63.00,20000.0,2500.0,5900.0,8400.0,0.26,26.0,54.0
5116,Zimbabwe,ZW,ZWE,716,AFR,2023,16340822,35000,62.00,21000.0,2400.0,5500.0,7900.0,0.24,24.0,56.0

In [16]:
# Drop all rows that do not contain the value "2023" in the column "year"
df_TB_burden = df_TB_burden[df_TB_burden["year"] == 2023]
df_TB_burden

,country_name,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_num,e_tbhiv_prct,e_inc_tbhiv_num,e_mort_exc_tbhiv_num,e_mort_tbhiv_num,e_mort_num,cfr,cfr_pct,c_cdr
23,Afghanistan,AF,AFG,4,EMR,2023,41454760,75000,0.03,19.0,10000.00,1.00,10000.0,0.14,14.0,66.0
47,Albania,AL,ALB,8,EUR,2023,2811661,430,1.10,4.0,7.00,3.00,10.0,0.02,2.0,71.0
71,Algeria,DZ,DZA,12,AFR,2023,46164214,22000,0.83,180.0,1800.00,34.00,1900.0,0.09,9.0,86.0
95,American Samoa,AS,ASM,16,WPR,2023,47521,2,0.37,0.0,0.37,0.08,NaN,NaN,NaN,NaN
119,Andorra,AD,AND,20,EUR,2023,80854,5,0.47,0.0,0.47,0.08,4.9,100.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5020,Viet Nam,VN,VNM,704,WPR,2023,100352197,182000,2.50,4600.0,11000.00,2400.00,13000.0,0.07,7.0,57.0
5044,Wallis and Futuna,WF,WLF,876,WPR,2023,11377,0,0.15,0.0,0.15,0.08,NaN,NaN,NaN,NaN
5068,Yemen,YE,YEM,887,EMR,2023,39390797,19000,0.72,140.0,3700.00,51.00,3700.0,0.20,20.0,58.0
5092,Zambia,ZM,ZMB,894,AFR,2023,20723959,59000,32.00,19000.0,2400.00,2600.00,5000.0,0.09,9.0,93.0
5116,Zimbabwe,ZW,ZWE,716,AFR,2023,16340822,35000,62.00,21000.0,2400.00,5500.00,7900.0,0.24,24.0,56.0

In [20]:
# load WHO TB rifampicin resistance rate table 
RRR = "WHO_TB_burden_MDR_RR_estimates_2024.csv"
df_RRR = pd.read_csv(RRR)
df_RRR

,country,iso2,iso3,iso_numeric,g_whoregion,year,source_rr_new,e_rr_pct_new,e_rr_pct_new_lo,e_rr_pct_new_hi,source_rr_ret,e_rr_pct_ret,e_rr_pct_ret_lo,e_rr_pct_ret_hi,e_inc_rr_num,e_inc_rr_num_lo,e_inc_rr_num_hi,e_rr_in_notified_labconf_pulm,e_rr_in_notified_labconf_pulm_lo,e_rr_in_notified_labconf_pulm_hi
0,Afghanistan,AF,AFG,4,EMR,2015,Surveillance,2.6,1.0,5.6,Surveillance,23.0,19.0,27.0,1900,120,3600,420.0,170.0,930.0
1,Afghanistan,AF,AFG,4,EMR,2016,Surveillance,2.5,1.1,5.0,Surveillance,21.0,18.0,24.0,1800,300,3400,490.0,130.0,840.0
2,Afghanistan,AF,AFG,4,EMR,2017,Surveillance,2.4,1.2,4.4,Surveillance,19.0,17.0,22.0,1800,470,3200,900.0,580.0,1200.0
3,Afghanistan,AF,AFG,4,EMR,2018,Surveillance,2.3,1.3,3.9,Surveillance,18.0,16.0,19.0,1800,630,3000,780.0,520.0,1000.0
4,Afghanistan,AF,AFG,4,EMR,2019,Surveillance,2.3,1.5,3.5,Surveillance,16.0,15.0,17.0,1800,760,2900,700.0,460.0,950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1930,Zimbabwe,ZW,ZWE,716,AFR,2019,Survey & Surveillance,3.0,2.8,3.1,Survey & Surveillance,19.0,16.0,22.0,1200,820,1500,430.0,400.0,450.0
1931,Zimbabwe,ZW,ZWE,716,AFR,2020,Survey & Surveillance,2.6,2.4,2.7,Survey & Surveillance,18.0,15.0,20.0,970,660,1300,290.0,270.0,300.0
1932,Zimbabwe,ZW,ZWE,716,AFR,2021,Survey & Surveillance,2.2,2.1,2.3,Survey & Surveillance,16.0,14.0,18.0,910,610,1200,250.0,240.0,270.0
1933,Zimbabwe,ZW,ZWE,716,AFR,2022,Survey & Surveillance,1.9,1.8,2.1,Survey & Surveillance,15.0,13.0,17.0,850,550,1200,250.0,230.0,270.0
1934,Zimbabwe,ZW,ZWE,716,AFR,2023,Survey & Surveillance,1.6,1.5,1.8,Survey & Surveillance,14.0,12.0,17.0,760,480,1000,220.0,200.0,240.0

In [22]:
# Drop all columns containing "_lo" or "_hi" or "_ret" or "_notified"
df_RRR = df_RRR.drop(columns=[col for col in df_RRR.columns if col.endswith(("_lo", "_hi", "_ret", "_notified"))])
df_RRR

,country,iso2,iso3,iso_numeric,g_whoregion,year,source_rr_new,e_rr_pct_new,e_inc_rr_num,e_rr_in_notified_labconf_pulm
0,Afghanistan,AF,AFG,4,EMR,2015,Surveillance,2.6,1900,420.0
1,Afghanistan,AF,AFG,4,EMR,2016,Surveillance,2.5,1800,490.0
2,Afghanistan,AF,AFG,4,EMR,2017,Surveillance,2.4,1800,900.0
3,Afghanistan,AF,AFG,4,EMR,2018,Surveillance,2.3,1800,780.0
4,Afghanistan,AF,AFG,4,EMR,2019,Surveillance,2.3,1800,700.0
...,...,...,...,...,...,...,...,...,...,...
1930,Zimbabwe,ZW,ZWE,716,AFR,2019,Survey & Surveillance,3.0,1200,430.0
1931,Zimbabwe,ZW,ZWE,716,AFR,2020,Survey & Surveillance,2.6,970,290.0
1932,Zimbabwe,ZW,ZWE,716,AFR,2021,Survey & Surveillance,2.2,910,250.0
1933,Zimbabwe,ZW,ZWE,716,AFR,2022,Survey & Surveillance,1.9,850,250.0
1934,Zimbabwe,ZW,ZWE,716,AFR,2023,Survey & Surveillance,1.6,760,220.0

In [24]:
# Drop all rows that do not contain the value "2023" in the column "year"
df_RRR = df_RRR[df_RRR["year"] == 2023]
df_RRR

,country,iso2,iso3,iso_numeric,g_whoregion,year,source_rr_new,e_rr_pct_new,e_inc_rr_num,e_rr_in_notified_labconf_pulm
8,Afghanistan,AF,AFG,4,EMR,2023,Surveillance,2.1,1700,620.0
17,Albania,AL,ALB,8,EUR,2023,Surveillance,1.3,10,5.0
26,Algeria,DZ,DZA,12,AFR,2023,Survey,2.1,490,140.0
35,American Samoa,AS,ASM,16,WPR,2023,Surveillance,2.2,0,NaN
44,Andorra,AD,AND,20,EUR,2023,Surveillance,2.5,0,0.0
...,...,...,...,...,...,...,...,...,...,...
1898,Viet Nam,VN,VNM,704,WPR,2023,Survey & Surveillance,4.4,9900,4100.0
1907,Wallis and Futuna,WF,WLF,876,WPR,2023,Surveillance,1.8,0,NaN
1916,Yemen,YE,YEM,887,EMR,2023,Survey,1.9,420,94.0
1925,Zambia,ZM,ZMB,894,AFR,2023,Survey & Surveillance,1.9,1700,810.0
1934,Zimbabwe,ZW,ZWE,716,AFR,2023,Survey & Surveillance,1.6,760,220.0

In [109]:
# load BCG vaccination coverage rates from WHO for 2023 table 
BCG = "WHO_BCG_vaccination_coverage_2023.csv"
df_BCG = pd.read_csv(BCG)
df_BCG

,iso3,country_name,year,vaccine_antigen,coverage_category,targets_number,doses,BCG_coverage
0,AFG,Afghanistan,2023,BCG,Administrative coverage,2057002.0,1969540.0,95.75
1,ALB,Albania,2023,BCG,Administrative coverage,22887.0,22703.0,99.20
2,DZA,Algeria,2023,BCG,Administrative coverage,936973.0,924725.0,98.69
3,AND,Andorra,2023,BCG,Administrative coverage,NaN,NaN,NaN
4,AGO,Angola,2023,BCG,Administrative coverage,1218526.0,1163980.0,95.52
...,...,...,...,...,...,...,...,...
408,VEN,Venezuela (Bolivarian Republic of),2022,BCG,Administrative coverage,565841.0,342045.0,60.45
409,VNM,Viet Nam,2022,BCG,Administrative coverage,1341593.0,1183094.0,88.19
410,YEM,Yemen,2022,BCG,Administrative coverage,1215240.0,887452.0,73.00
411,ZMB,Zambia,2022,BCG,Administrative coverage,845677.0,721567.0,85.32
412,ZWE,Zimbabwe,2022,BCG,Administrative coverage,465957.0,450959.0,96.78

In [111]:
# Drop all rows that do not contain the value "2023" in the column "year"
df_BCG = df_BCG[df_BCG["year"] == 2023]
df_BCG

,iso3,country_name,year,vaccine_antigen,coverage_category,targets_number,doses,BCG_coverage
0,AFG,Afghanistan,2023,BCG,Administrative coverage,2057002.0,1969540.0,95.75
1,ALB,Albania,2023,BCG,Administrative coverage,22887.0,22703.0,99.20
2,DZA,Algeria,2023,BCG,Administrative coverage,936973.0,924725.0,98.69
3,AND,Andorra,2023,BCG,Administrative coverage,NaN,NaN,NaN
4,AGO,Angola,2023,BCG,Administrative coverage,1218526.0,1163980.0,95.52
...,...,...,...,...,...,...,...,...
202,VEN,Venezuela (Bolivarian Republic of),2023,BCG,Administrative coverage,528194.0,353504.0,66.93
203,VNM,Viet Nam,2023,BCG,Administrative coverage,1267834.0,1205427.0,95.08
204,YEM,Yemen,2023,BCG,Administrative coverage,1254398.0,802445.0,63.97
205,ZMB,Zambia,2023,BCG,Administrative coverage,877840.0,707320.0,80.58
206,ZWE,Zimbabwe,2023,BCG,Administrative coverage,539232.0,482999.0,89.57

In [30]:
# load population density per country for 2023 (people/km²) from Earth Database table 
pop_dens = "EarthDB_population_density_per_country_2023.csv"
df_pop_dens = pd.read_csv(pop_dens)
df_pop_dens

    iso2          country_name  population_density
0     🇲🇨                Monaco          26145.3020
1     🇲🇴      China, Macao SAR          22309.7344
2     🇸🇬             Singapore           8475.9729
3     🇭🇰  China, Hong Kong SAR           6772.2789
4     🇬🇮             Gibraltar           3847.0500
..   ...                   ...                 ...
232   🇦🇺             Australia              3.4431
233   🇲🇳              Mongolia              2.2035
234   🇪🇭        Western Sahara              2.1794
235   🇫🇰      Falkland Islands              0.2857
236   🇬🇱             Greenland              0.1362

[237 rows x 3 columns]

In [34]:
# load poverty index per country for 2023 from United Nations Human Development Report table 
pov_indx = "UNDP_HDR_2023_Global_MultidimensionalPovertyIndex_reduced.csv"
df_pov_indx = pd.read_csv(pov_indx)
df_pov_indx

,country_name,Survey_year,MPI_value,pop_in_MP_percent,pop_in_MP_thousands,Int_of_depr_percent,inequality_among_poor,pop_in_severe_poverty_percent,pop_in_vulner_poverty_percent,contr_depr_to_MPI_health_percent,contr_depr_to_MPI_edu_percent,contr_depr_to_MPI_lifestand_percent,pop_below_nat_poverty_line_percent,pop_below_mon_poverty_line_percent
0,Albania,2018,0.002748,0.703561,20,39.056704,..,0.067062,5.040320,28.259981,55.054617,16.685401,21.8,0.021277364
1,Algeria,2019,0.005409,1.380835,590,39.172627,0.006745385,0.202808,3.607168,31.214356,49.301267,19.484380,5.5,0.455467529
2,Argentina,2020,0.001469,0.432323,195,33.986024,..,0.005121,1.647459,69.679534,21.381988,8.938479,42,0.95884664
3,Bangladesh,2019,0.104060,24.640573,40784,42.231268,0.009728092,6.479894,18.206320,17.278388,37.633830,45.087785,24.3,13.46830297
4,Benin,2018,0.367675,66.798888,7976,55.042057,0.025122076,40.937143,14.686222,20.843776,36.270595,42.885634,38.5,19.89600557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Timor-Leste,2016,0.221514,48.253700,591,45.906167,0.014279023,17.383876,26.827795,29.292259,23.149538,47.558203,41.8,24.44307717
106,Trinidad and Tobago,2011,0.002418,0.636561,9,37.984199,..,0.099323,3.681444,45.490643,34.025756,20.483600,..,..
107,Uganda,2016,0.281028,57.168485,22152,49.157937,0.016815225,25.680024,23.610282,23.971367,21.576892,54.451740,20.3,42.20772863
108,Ukraine,2012,0.000840,0.244237,111,34.410454,..,0.000000,0.418627,60.483235,28.359216,11.157545,1.6,0.028825609
109,Yemen,2013,0.245166,48.466429,13078,50.584800,0.021178383,24.349764,22.285696,28.953192,30.414852,40.631956,48.6,19.80275669

In [36]:
# Find which country names in df_pov_indx are not in df_TB_burden
missing_countries = df_pov_indx[df_pov_indx["country_name"].isin(df_TB_burden["country_name"])]["country_name"].unique()

# Check if all country names are present
all_countries_present = len(missing_countries) == 0

# Print results
print("All country_name values from df_pov_indx are in df_TB_burden:", all_countries_present)

if not all_countries_present:
    print("Missing country_name values:", missing_countries)

All country_name values from df_pov_indx are in df_TB_burden: False
Missing country_name values: ['Albania' 'Algeria' 'Argentina' 'Bangladesh' 'Benin' 'Burundi' 'Cambodia'
 'Cameroon' 'Central African Republic' 'Chad'
 'Democratic Republic of the Congo' 'Costa Rica' 'Cuba'
 'Dominican Republic' 'Ecuador' 'Ethiopia' 'Fiji' 'Gambia' 'Georgia'
 'Ghana' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'India'
 'Indonesia' 'Iraq' 'Jamaica' 'Jordan' 'Kiribati' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Lesotho' 'Liberia' 'Madagascar'
 'Malawi' 'Maldives' 'Mali' 'Mauritania' 'Mexico' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Nepal' 'Nigeria' 'North Macedonia' 'Pakistan'
 'Papua New Guinea' 'Peru' 'Philippines' 'Rwanda' 'Samoa'
 'Sao Tome and Principe' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone'
 'Suriname' 'Tajikistan' 'Thailand' 'Togo' 'Tonga' 'Tunisia'
 'Turkmenistan' 'Tuvalu' 'Uzbekistan' 'Viet Nam' 'Zambia' 'Zimbabwe'
 'Afghanistan' 'Angola' 'Armenia' 'Barbados' 'Belize'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'China' 'Colombia' 'Comoros'
 'Congo' 'Egypt' 'El Salvador' 'Eswatini' 'Gabon' 'Guatemala' 'Kazakhstan'
 'Kenya' 'Libya' 'Myanmar' 'Namibia' 'Nicaragua' 'Niger' 'Paraguay'
 'Saint Lucia' 'South Africa' 'Sri Lanka' 'Sudan' 'Timor-Leste'
 'Trinidad and Tobago' 'Uganda' 'Ukraine' 'Yemen']

In [40]:
# Adding the iso2 (two letter country code) and iso3 (three letter country code) to the df_pov_indx dataframe
!pip install pycountry
import pycountry

Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
   ---------------------------------------- 0.0/6.3 MB ? eta -:--:--
   - -------------------------------------- 0.3/6.3 MB ? eta -:--:--
   -------- ------------------------------- 1.3/6.3 MB 3.7 MB/s eta 0:00:02
   ------------- -------------------------- 2.1/6.3 MB 3.7 MB/s eta 0:00:02
   ---------------- ----------------------- 2.6/6.3 MB 3.7 MB/s eta 0:00:02
   --------------------- ------------------ 3.4/6.3 MB 3.5 MB/s eta 0:00:01
   -------------------------- ------------- 4.2/6.3 MB 3.5 MB/s eta 0:00:01
   ----------------------------- ---------- 4.7/6.3 MB 3.5 MB/s eta 0:00:01
   ---------------------------------- ----- 5.5/6.3 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  6.3/6.3 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 6.3/6.3 MB 3.4 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-24.6.1

In [42]:
# Function to get ISO2 and ISO3 codes from country name
def get_country_codes(country_name):
    try:
        country = pycountry.countries.lookup(country_name)
        return country.alpha_2, country.alpha_3
    except LookupError:
        return None, None  # Return None if country is not found

# Apply function to add ISO codes to df_pov_indx
df_pov_indx["iso2"], df_pov_indx["iso3"] = zip(*df_pov_indx["country_name"].apply(get_country_codes))

# Display updated dataframe
print(df_pov_indx.head())

  country_name  Survey_year  MPI_value  pop_in_MP_percent  \
0      Albania         2018   0.002748           0.703561
1      Algeria         2019   0.005409           1.380835
2    Argentina         2020   0.001469           0.432323
3   Bangladesh         2019   0.104060          24.640573
4        Benin         2018   0.367675          66.798888

   pop_in_MP_thousands  Int_of_depr_percent inequality_among_poor  \
0                   20            39.056704                    ..
1                  590            39.172627           0.006745385
2                  195            33.986024                    ..
3                40784            42.231268           0.009728092
4                 7976            55.042057           0.025122076

   pop_in_severe_poverty_percent  pop_in_vulner_poverty_percent  \
0                       0.067062                       5.040320
1                       0.202808                       3.607168
2                       0.005121                       1.647459
3                       6.479894                      18.206320
4                      40.937143                      14.686222

   contr_depr_to_MPI_health_percent  contr_depr_to_MPI_edu_percent  \
0                         28.259981                      55.054617
1                         31.214356                      49.301267
2                         69.679534                      21.381988
3                         17.278388                      37.633830
4                         20.843776                      36.270595

   contr_depr_to_MPI_lifestand_percent pop_below_nat_poverty_line_percent  \
0                            16.685401                               21.8
1                            19.484380                                5.5
2                             8.938479                                 42
3                            45.087785                               24.3
4                            42.885634                               38.5

  pop_below_mon_poverty_line_percent iso2 iso3
0                        0.021277364   AL  ALB
1                        0.455467529   DZ  DZA
2                         0.95884664   AR  ARG
3                        13.46830297   BD  BGD
4                        19.89600557   BJ  BEN

In [50]:
# Safe the updated datafile for df_pov_indx dataframe:
# df_pov_indx.to_csv("df_pov_indx_updated.csv", index=False)
# ONLY DONE ONCE !

In [52]:
# load poverty index per country for 2023 from United Nations Human Development Report table - updated version
pov_indx_iso = "UNDP_HDR_2023_Global_MultidimensionalPovertyIndex_updated.csv"
df_pov_indx_iso = pd.read_csv(pov_indx_iso)
df_pov_indx_iso

,iso2,iso3,country_name,Survey_year,MPI_value,pop_in_MP_percent,pop_in_MP_thousands,Int_of_depr_percent,inequality_among_poor,pop_in_severe_poverty_percent,pop_in_vulner_poverty_percent,contr_depr_to_MPI_health_percent,contr_depr_to_MPI_edu_percent,contr_depr_to_MPI_lifestand_percent,pop_below_nat_poverty_line_percent,pop_below_mon_poverty_line_percent
0,AL,ALB,Albania,2018,0.002748,0.703561,20,39.056704,..,0.067062,5.040320,28.259981,55.054617,16.685401,21.8,0.021277364
1,DZ,DZA,Algeria,2019,0.005409,1.380835,590,39.172627,0.006745385,0.202808,3.607168,31.214356,49.301267,19.484380,5.5,0.455467529
2,AR,ARG,Argentina,2020,0.001469,0.432323,195,33.986024,..,0.005121,1.647459,69.679534,21.381988,8.938479,42,0.95884664
3,BD,BGD,Bangladesh,2019,0.104060,24.640573,40784,42.231268,0.009728092,6.479894,18.206320,17.278388,37.633830,45.087785,24.3,13.46830297
4,BJ,BEN,Benin,2018,0.367675,66.798888,7976,55.042057,0.025122076,40.937143,14.686222,20.843776,36.270595,42.885634,38.5,19.89600557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,TL,TLS,Timor-Leste,2016,0.221514,48.253700,591,45.906167,0.014279023,17.383876,26.827795,29.292259,23.149538,47.558203,41.8,24.44307717
106,TT,TTO,Trinidad and Tobago,2011,0.002418,0.636561,9,37.984199,..,0.099323,3.681444,45.490643,34.025756,20.483600,..,..
107,UG,UGA,Uganda,2016,0.281028,57.168485,22152,49.157937,0.016815225,25.680024,23.610282,23.971367,21.576892,54.451740,20.3,42.20772863
108,UA,UKR,Ukraine,2012,0.000840,0.244237,111,34.410454,..,0.000000,0.418627,60.483235,28.359216,11.157545,1.6,0.028825609
109,YE,YEM,Yemen,2013,0.245166,48.466429,13078,50.584800,0.021178383,24.349764,22.285696,28.953192,30.414852,40.631956,48.6,19.80275669

In [54]:
# Drop all unnecessary columns from df_pov_indx_iso dataframe
df_pov_indx_iso = df_pov_indx_iso.iloc[:, :-10]
df_pov_indx_iso

    iso2 iso3         country_name  Survey_year  MPI_value  pop_in_MP_percent
0     AL  ALB              Albania         2018   0.002748           0.703561
1     DZ  DZA              Algeria         2019   0.005409           1.380835
2     AR  ARG            Argentina         2020   0.001469           0.432323
3     BD  BGD           Bangladesh         2019   0.104060          24.640573
4     BJ  BEN                Benin         2018   0.367675          66.798888
..   ...  ...                  ...          ...        ...                ...
105   TL  TLS          Timor-Leste         2016   0.221514          48.253700
106   TT  TTO  Trinidad and Tobago         2011   0.002418           0.636561
107   UG  UGA               Uganda         2016   0.281028          57.168485
108   UA  UKR              Ukraine         2012   0.000840           0.244237
109   YE  YEM                Yemen         2013   0.245166          48.466429

[110 rows x 6 columns]

In [145]:
# Apply function to get ISO2 and ISO3 codes from country name to add ISO codes to df_pop_dens
df_pop_dens["iso2"], df_pop_dens["iso3"] = zip(*df_pop_dens["country_name"].apply(get_country_codes))

# Display updated dataframe
print(df_pop_dens.head())

   iso2          country_name  population_density  iso3
0    MC                Monaco          26145.3020   MCO
1  None      China, Macao SAR          22309.7344  None
2    SG             Singapore           8475.9729   SGP
3  None  China, Hong Kong SAR           6772.2789  None
4    GI             Gibraltar           3847.0500   GIB

In [147]:
# Safe the updated datafile for df_pov_indx dataframe:
df_pop_dens.to_csv("df_pop_dens_updated.csv", index=False)
# ONLY DONE ONCE !

In [149]:
# load population density per country for 2023 (people/km²) from Earth Database table - updated version
pop_dens_iso = "EarthDB_population_density_per_country_2023_updated.csv"
df_pop_dens_iso = pd.read_csv(pop_dens_iso)
df_pop_dens_iso

    iso2 iso3          country_name  population_density
0     MC  MCO                Monaco          26145.3020
1     MO  MAC      China, Macao SAR          22309.7344
2     SG  SGP             Singapore           8475.9729
3     HK  HKG  China, Hong Kong SAR           6772.2789
4     GI  GIB             Gibraltar           3847.0500
..   ...  ...                   ...                 ...
232   AU  AUS             Australia              3.4431
233   MN  MNG              Mongolia              2.2035
234   EH  ESH        Western Sahara              2.1794
235   FK  FLK      Falkland Islands              0.2857
236   GL  GRL             Greenland              0.1362

[237 rows x 4 columns]

In [56]:
# load smoking rates (%) per country for 2022 form World Population Review table 
smoking = "WorldPopulationReview_smoking_rate_per_country_2022.csv"
df_smoking = pd.read_csv(smoking)
df_smoking

,country_name,total_smokers_2022_percent,male_smokers_2022_percent,female_smokers_2022_percent
0,Nauru,48.3,48.6,48.1
1,Myanmar,44.4,69.5,19.3
2,Kiribati,39.7,52.5,26.8
3,Papua New Guinea,39.6,54.3,24.9
4,Bulgaria,39.5,40.3,38.7
...,...,...,...,...
160,Ethiopia,5.2,9.0,1.5
161,Panama,5.2,8.4,1.9
162,Ghana,3.4,6.5,0.3
163,Nigeria,3.3,6.1,0.5
164,,NaN,NaN,NaN

In [58]:
# Find which country names in df_smoking are not in df_TB_burden
missing_countries2 = df_smoking[df_smoking["country_name"].isin(df_TB_burden["country_name"])]["country_name"].unique()

# Check if all country names are present
all_countries_present2 = len(missing_countries2) == 0

# Print results
print("All country_name values from df_smoking are in df_TB_burden:", all_countries_present2)

if not all_countries_present2:
    print("Missing country_name values:", missing_countries2)

All country_name values from df_smoking are in df_TB_burden: False
Missing country_name values: ['Nauru' 'Myanmar' 'Kiribati' 'Papua New Guinea' 'Bulgaria' 'Serbia'
 'Indonesia' 'Croatia' 'Solomon Islands' 'Andorra'
 'Bosnia and Herzegovina' 'Jordan' 'Cyprus' 'France' 'Lebanon' 'Latvia'
 'Tuvalu' 'Bangladesh' 'Greece' 'Slovakia' 'Hungary' 'Montenegro'
 'Georgia' 'Lithuania' 'Tonga' 'Belarus' 'Romania' 'Marshall Islands'
 'Mongolia' 'Chile' 'Spain' 'Nepal' 'Estonia' 'Fiji' 'Kyrgyzstan'
 'Cook Islands' 'Madagascar' 'Belgium' 'Maldives' 'Portugal' 'Switzerland'
 'Ukraine' 'Austria' 'Armenia' 'Egypt' 'Malta' 'India' 'Lesotho'
 'Argentina' 'Poland' 'China' 'Luxembourg' 'Afghanistan' 'Sweden' 'Samoa'
 'Italy' 'Finland' 'Kazakhstan' 'Malaysia' 'Albania' 'Yemen' 'Germany'
 'Algeria' 'Mauritius' 'South Africa' 'Tunisia' 'Uruguay' 'Philippines'
 'Israel' 'Seychelles' 'Slovenia' 'Kuwait' 'Azerbaijan' 'Sri Lanka'
 'Ireland' 'Japan' 'Thailand' 'Iraq' 'Pakistan' 'Botswana' 'Bhutan' 'Cuba'
 'Palau' 'Cambodia' 'Comoros' 'Uzbekistan' 'Singapore' 'Denmark' 'Bahrain'
 'Mexico' 'Saudi Arabia' 'Zambia' 'Burkina Faso' 'Rwanda' 'Norway'
 'Namibia' 'Saint Lucia' 'Australia' 'Morocco' 'Sierra Leone' 'Qatar'
 'Honduras' 'Brazil' 'New Zealand' 'Canada' 'Guatemala' 'Zimbabwe'
 'Bahamas' 'Burundi' 'Guyana' 'Kenya' 'Paraguay' 'Dominican Republic'
 'Gambia' 'Ecuador' 'Malawi' 'Jamaica' 'Mauritania' 'Eswatini' 'Iceland'
 'United Arab Emirates' 'El Salvador' 'Costa Rica' 'Belize' 'Oman'
 'Colombia' 'Liberia' 'Haiti' 'Mali' 'Sao Tome and Principe' 'Niger'
 'Uganda' 'Chad' 'Peru' 'Barbados' 'Cameroon' 'Senegal' 'Togo' 'Benin'
 'Turkmenistan' 'Ethiopia' 'Panama' 'Ghana' 'Nigeria']

In [60]:
# Apply function to get ISO2 and ISO3 codes from country name to add ISO codes to df_smoking
df_smoking["iso2"], df_smoking["iso3"] = zip(*df_smoking["country_name"].apply(get_country_codes))

# Display updated dataframe
print(df_smoking.head())

       country_name  total_smokers_2022_percent  male_smokers_2022_percent  \
0             Nauru                        48.3                       48.6
1           Myanmar                        44.4                       69.5
2          Kiribati                        39.7                       52.5
3  Papua New Guinea                        39.6                       54.3
4          Bulgaria                        39.5                       40.3

   female_smokers_2022_percent iso2 iso3
0                         48.1   NR  NRU
1                         19.3   MM  MMR
2                         26.8   KI  KIR
3                         24.9   PG  PNG
4                         38.7   BG  BGR

In [64]:
# Safe the updated datafile for df_smoking dataframe:
# df_smoking.to_csv("df_smoking_updated.csv", index=False)
# ONLY DONE ONCE !

In [66]:
# load smoking rates (%) per country for 2022 form World Population Review table - updated version
smoking_iso = "WorldPopulationReview_smoking_rate_per_country_2022_updated.csv"
df_smoking_iso = pd.read_csv(smoking_iso)
df_smoking_iso

,iso2,iso3,country_name,total_smokers_2022_percent,male_smokers_2022_percent,female_smokers_2022_percent
0,NR,NRU,Nauru,48.3,48.6,48.1
1,MM,MMR,Myanmar,44.4,69.5,19.3
2,KI,KIR,Kiribati,39.7,52.5,26.8
3,PG,PNG,Papua New Guinea,39.6,54.3,24.9
4,BG,BGR,Bulgaria,39.5,40.3,38.7
...,...,...,...,...,...,...
160,ET,ETH,Ethiopia,5.2,9.0,1.5
161,PA,PAN,Panama,5.2,8.4,1.9
162,GH,GHA,Ghana,3.4,6.5,0.3
163,NG,NGA,Nigeria,3.3,6.1,0.5
164,NaN,NaN,,NaN,NaN,NaN

In [69]:
# load air pollution data (annual average exposure to particulate matter < 2.5µm (PM2.5) concentration in μg/m³) for 2023 from IQAIR table
air_pollution = "IQAIR_countries_avg_air_pollution_pm2-5_2023.csv"
df_air_pollution = pd.read_csv(air_pollution)
df_air_pollution

         country_name  avg_air_pollution_PM2-5_in_2023
0          Bangladesh                             79.9
1            Pakistan                             73.7
2               India                             54.4
3          Tajikistan                             49.0
4        Burkina Faso                             46.6
..                ...                              ...
129           Bermuda                              4.1
130           Grenada                              4.1
131           Iceland                              4.0
132         Mauritius                              3.5
133  French Polynesia                              3.2

[134 rows x 2 columns]

In [71]:
# Apply function to get ISO2 and ISO3 codes from country name to add ISO codes to df_air_pollution
df_air_pollution["iso2"], df_air_pollution["iso3"] = zip(*df_air_pollution["country_name"].apply(get_country_codes))

# Display updated dataframe
print(df_air_pollution.head())

   country_name  avg_air_pollution_PM2-5_in_2023 iso2 iso3
0    Bangladesh                             79.9   BD  BGD
1      Pakistan                             73.7   PK  PAK
2         India                             54.4   IN  IND
3    Tajikistan                             49.0   TJ  TJK
4  Burkina Faso                             46.6   BF  BFA

In [143]:
# Safe the updated datafile for df_smoking dataframe:
# df_air_pollution.to_csv("df_air_pollution_updated.csv", index=False)
# ONLY DONE ONCE !

In [75]:
# load air pollution data (annual average exposure to particulate matter < 2.5µm (PM2.5) concentration in μg/m³) for 2023 from IQAIR table - updated
air_pollution_iso = "IQAIR_countries_avg_air_pollution_pm2-5_2023_updated.csv"
df_air_pollution_iso = pd.read_csv(air_pollution_iso)
df_air_pollution_iso

    iso2 iso3      country_name  avg_air_pollution_PM2-5_in_2023
0     BD  BGD        Bangladesh                             79.9
1     PK  PAK          Pakistan                             73.7
2     IN  IND             India                             54.4
3     TJ  TJK        Tajikistan                             49.0
4     BF  BFA      Burkina Faso                             46.6
..   ...  ...               ...                              ...
129   BM  BMU           Bermuda                              4.1
130   GD  GRD           Grenada                              4.1
131   IS  ISL           Iceland                              4.0
132   MU  MUS         Mauritius                              3.5
133   PF  PYF  French Polynesia                              3.2

[134 rows x 4 columns]

Check all tables for missing values and duplicates

In [81]:
# Check for missing values: df_TB_burden
df_TB_burden.isna().any()
# CAUTION: Iso2=NA for Namibia !!!!

country_name            False
iso2                     True
iso3                    False
iso_numeric             False
g_whoregion             False
year                    False
e_pop_num               False
e_inc_num               False
e_tbhiv_prct            False
e_inc_tbhiv_num         False
e_mort_exc_tbhiv_num     True
e_mort_tbhiv_num         True
e_mort_num               True
cfr                      True
cfr_pct                  True
c_cdr                    True
dtype: bool

In [175]:
# Fill missing values with NaN: df_TB_burden

import numpy as np

# Replace empty strings and other placeholders (like None) with NaN
df_TB_burden = df_TB_burden.replace(["", " ", None], np.nan)

# Fill any remaining missing values with NaN (in case they exist)
df_TB_burden = df_TB_burden.fillna(np.nan)

# Display the updated DataFrame
print(df_TB_burden.head())

       country_name iso2 iso3  iso_numeric g_whoregion  year  e_pop_num  \
23      Afghanistan   AF  AFG            4         EMR  2023   41454760
47          Albania   AL  ALB            8         EUR  2023    2811661
71          Algeria   DZ  DZA           12         AFR  2023   46164214
95   American Samoa   AS  ASM           16         WPR  2023      47521
119         Andorra   AD  AND           20         EUR  2023      80854

     e_inc_num  e_tbhiv_prct  e_inc_tbhiv_num  e_mort_exc_tbhiv_num  \
23       75000          0.03             19.0              10000.00
47         430          1.10              4.0                  7.00
71       22000          0.83            180.0               1800.00
95           2          0.37              0.0                  0.37
119          5          0.47              0.0                  0.47

     e_mort_tbhiv_num  e_mort_num     cfr  cfr_pct  c_cdr
23               1.00     10000.0    0.14     14.0   66.0
47               3.00        10.0    0.02      2.0   71.0
71              34.00      1900.0    0.09      9.0   86.0
95               0.08         NaN     NaN      NaN    NaN
119              0.08         4.9  100.00      NaN    NaN

In [91]:
# Check for missing values: df_RRR
df_RRR.isna().any()

country                          False
iso2                              True
iso3                             False
iso_numeric                      False
g_whoregion                      False
year                             False
source_rr_new                    False
e_rr_pct_new                     False
e_inc_rr_num                     False
e_rr_in_notified_labconf_pulm     True
dtype: bool

In [177]:
# Fill missing values with NaN: df_RRR
# Replace empty strings and other placeholders (like None) with NaN
df_RRR = df_RRR.replace(["", " ", None], np.nan)

# Fill any remaining missing values with NaN (in case they exist)
df_RRR = df_RRR.fillna(np.nan)

# Display the updated DataFrame
print(df_RRR.head())

           country iso2 iso3  iso_numeric g_whoregion  year source_rr_new  \
8      Afghanistan   AF  AFG            4         EMR  2023  Surveillance
17         Albania   AL  ALB            8         EUR  2023  Surveillance
26         Algeria   DZ  DZA           12         AFR  2023        Survey
35  American Samoa   AS  ASM           16         WPR  2023  Surveillance
44         Andorra   AD  AND           20         EUR  2023  Surveillance

    e_rr_pct_new  e_inc_rr_num  e_rr_in_notified_labconf_pulm
8            2.1          1700                          620.0
17           1.3            10                            5.0
26           2.1           490                          140.0
35           2.2             0                            NaN
44           2.5             0                            0.0

In [113]:
# Check for missing values: df_BCG
df_BCG.isna().any()
# Sadly, no BCG coverage data for some countries

iso3                 False
country_name         False
year                 False
vaccine_antigen      False
coverage_category    False
targets_number        True
doses                 True
BCG_coverage          True
dtype: bool

In [181]:
# Fill missing values with NaN: df_BCG
# Replace empty strings and other placeholders (like None) with NaN
df_BCG = df_BCG.replace(["", " ", None], np.nan)

# Fill any remaining missing values with NaN (in case they exist)
df_BCG = df_BCG.fillna(np.nan)

# Display the updated DataFrame
print(df_BCG.head())

  iso3 country_name  year vaccine_antigen        coverage_category  \
0  AFG  Afghanistan  2023             BCG  Administrative coverage
1  ALB      Albania  2023             BCG  Administrative coverage
2  DZA      Algeria  2023             BCG  Administrative coverage
3  AND      Andorra  2023             BCG  Administrative coverage
4  AGO       Angola  2023             BCG  Administrative coverage

   targets_number      doses  BCG_coverage
0       2057002.0  1969540.0         95.75
1         22887.0    22703.0         99.20
2        936973.0   924725.0         98.69
3             NaN        NaN           NaN
4       1218526.0  1163980.0         95.52

In [151]:
# Check for missing values: df_pop_dens_iso
df_pop_dens_iso.isna().any()

iso2                   True
iso3                  False
country_name          False
population_density    False
dtype: bool

In [183]:
# Fill missing values with NaN: df_pop_dens_iso
# Replace empty strings and other placeholders (like None) with NaN
df_pop_dens_iso = df_pop_dens_iso.replace(["", " ", None], np.nan)

# Fill any remaining missing values with NaN (in case they exist)
df_pop_dens_iso = df_pop_dens_iso.fillna(np.nan)

# Display the updated DataFrame
print(df_pop_dens_iso.head())

  iso2 iso3          country_name  population_density
0   MC  MCO                Monaco          26145.3020
1   MO  MAC      China, Macao SAR          22309.7344
2   SG  SGP             Singapore           8475.9729
3   HK  HKG  China, Hong Kong SAR           6772.2789
4   GI  GIB             Gibraltar           3847.0500

In [97]:
# Check for missing values: df_pov_indx_iso
df_pov_indx_iso.isna().any()

iso2                  True
iso3                 False
country_name         False
Survey_year          False
MPI_value            False
pop_in_MP_percent    False
dtype: bool

In [185]:
# Fill missing values with NaN: df_pov_indx_iso
# Replace empty strings and other placeholders (like None) with NaN
df_pov_indx_iso = df_pov_indx_iso.replace(["", " ", None], np.nan)

# Fill any remaining missing values with NaN (in case they exist)
df_pov_indx_iso = df_pov_indx_iso.fillna(np.nan)

# Display the updated DataFrame
print(df_pov_indx_iso.head())

  iso2 iso3 country_name  Survey_year  MPI_value  pop_in_MP_percent
0   AL  ALB      Albania         2018   0.002748           0.703561
1   DZ  DZA      Algeria         2019   0.005409           1.380835
2   AR  ARG    Argentina         2020   0.001469           0.432323
3   BD  BGD   Bangladesh         2019   0.104060          24.640573
4   BJ  BEN        Benin         2018   0.367675          66.798888

In [105]:
# Check for missing values: df_smoking_iso
df_smoking_iso.isna().any()
# OBSERVATION: No Iso2 and Iso3 codes or smoking rates missing in the table. Some smoking rates 0.

iso2                            True
iso3                            True
country_name                   False
total_smokers_2022_percent      True
male_smokers_2022_percent       True
female_smokers_2022_percent     True
dtype: bool

In [187]:
# Fill missing values with NaN: df_smoking_iso
# Replace empty strings and other placeholders (like None) with NaN
df_smoking_iso = df_smoking_iso.replace(["", " ", None], np.nan)

# Fill any remaining missing values with NaN (in case they exist)
df_smoking_iso = df_smoking_iso.fillna(np.nan)

# Display the updated DataFrame
print(df_smoking_iso.head())

  iso2 iso3      country_name  total_smokers_2022_percent  \
0   NR  NRU             Nauru                        48.3
1   MM  MMR           Myanmar                        44.4
2   KI  KIR          Kiribati                        39.7
3   PG  PNG  Papua New Guinea                        39.6
4   BG  BGR          Bulgaria                        39.5

   male_smokers_2022_percent  female_smokers_2022_percent
0                       48.6                         48.1
1                       69.5                         19.3
2                       52.5                         26.8
3                       54.3                         24.9
4                       40.3                         38.7

In [101]:
# Check for missing values: df_air_pollution_iso
df_air_pollution_iso.isna().any()

iso2                               False
iso3                               False
country_name                       False
avg_air_pollution_PM2-5_in_2023    False
dtype: bool

In [189]:
# Fill missing values with NaN: df_air_pollution_iso
# Replace empty strings and other placeholders (like None) with NaN
df_air_pollution_iso = df_air_pollution_iso.replace(["", " ", None], np.nan)

# Fill any remaining missing values with NaN (in case they exist)
df_air_pollution_iso = df_air_pollution_iso.fillna(np.nan)

# Display the updated DataFrame
print(df_air_pollution_iso.head())

  iso2 iso3  country_name  avg_air_pollution_PM2-5_in_2023
0   BD  BGD    Bangladesh                             79.9
1   PK  PAK      Pakistan                             73.7
2   IN  IND         India                             54.4
3   TJ  TJK    Tajikistan                             49.0
4   BF  BFA  Burkina Faso                             46.6

In [115]:
# Check for dulpicated values: df_TB_burden
df_TB_burden.duplicated().any()

False

In [117]:
# Check for dulpicated values: df_RRR
df_RRR.duplicated().any()

False

In [119]:
# Check for dulpicated values: df_BCG
df_BCG.duplicated().any()

False

In [153]:
# Check for dulpicated values: df_pop_dens_iso
df_pop_dens_iso.duplicated().any()

False

In [123]:
# Check for dulpicated values: df_pov_indx_iso
df_pov_indx_iso.duplicated().any()

False

In [125]:
# Check for dulpicated values: df_smoking_iso
df_smoking_iso.duplicated().any()

False

In [127]:
# Check for dulpicated values:
df_air_pollution_iso.duplicated().any()

False

Now merge the dataframes according to the country codes

In [ ]:
# APPARENTLY it doesn´t work with the merge funtion, rather use join or concat

In [191]:
# Add rifampicin resistance rates from WHO for 2023 stored in df_RRR to df_TB_burden

# Select specific columns from df_RRR (including "iso3" for merging)
columns_to_add = ["iso3", "source_rr_new", "e_rr_pct_new", "e_inc_rr_num"]
df_RRR_selected = df_RRR[columns_to_add]

# Merge df_TB_burden with df_RRR on "iso3" - left join to keep all rows of df_TB_burden
df_TB_burden_enriched1 = df_TB_burden.merge(df_RRR_selected, on="iso3", how="left")

# Check for unmatched "iso3" values in df_RRR
unmatched_iso3 = df_RRR_selected[~df_RRR_selected["iso3"].isin(df_TB_burden["iso3"])]["iso3"].unique()

# Print error message if there are unmatched rows
if len(unmatched_iso3) > 0:
    print("Error: The following iso3 values in df_RRR were not found in df_TB_burden:", unmatched_iso3)

# Display the merged dataframe
print(df_TB_burden_enriched1.head())

     country_name iso2 iso3  iso_numeric g_whoregion  year  e_pop_num  \
0     Afghanistan   AF  AFG            4         EMR  2023   41454760
1         Albania   AL  ALB            8         EUR  2023    2811661
2         Algeria   DZ  DZA           12         AFR  2023   46164214
3  American Samoa   AS  ASM           16         WPR  2023      47521
4         Andorra   AD  AND           20         EUR  2023      80854

   e_inc_num  e_tbhiv_prct  e_inc_tbhiv_num  e_mort_exc_tbhiv_num  \
0      75000          0.03             19.0              10000.00
1        430          1.10              4.0                  7.00
2      22000          0.83            180.0               1800.00
3          2          0.37              0.0                  0.37
4          5          0.47              0.0                  0.47

   e_mort_tbhiv_num  e_mort_num     cfr  cfr_pct  c_cdr source_rr_new  \
0              1.00     10000.0    0.14     14.0   66.0  Surveillance
1              3.00        10.0    0.02      2.0   71.0  Surveillance
2             34.00      1900.0    0.09      9.0   86.0        Survey
3              0.08         NaN     NaN      NaN    NaN  Surveillance
4              0.08         4.9  100.00      NaN    NaN  Surveillance

   e_rr_pct_new  e_inc_rr_num
0           2.1          1700
1           1.3            10
2           2.1           490
3           2.2             0
4           2.5             0

In [193]:
# Add BCG vaccination coverage rates from WHO for 2023 stored in df_BCG to df_TB_burden

# Select specific columns from df_BCG (including "iso3" for merging)
columns_to_add = ["iso3", "vaccine_antigen", "coverage_category", "targets_number", "doses", "BCG_coverage"]
df_BCG_selected = df_BCG[columns_to_add]

# Merge df_TB_burden with df_BCG on "iso3" - left join to keep all rows of df_TB_burden
df_TB_burden_enriched2 = df_TB_burden_enriched1.merge(df_BCG_selected, on="iso3", how="left")

# Check for unmatched "iso3" values in df_BCG
unmatched_iso3 = df_BCG_selected[~df_BCG_selected["iso3"].isin(df_TB_burden_enriched1["iso3"])]["iso3"].unique()

# Print error message if there are unmatched rows
if len(unmatched_iso3) > 0:
    print("Error: The following iso3 values in df_BCG were not found in df_TB_burden_enriched1:", unmatched_iso3)

# Display the merged dataframe
print(df_TB_burden_enriched2.head())

# Caution: Kosovo (iso3 = XKX) in df_BCG is dropped, because it is not present in df_TB_burden

Error: The following iso3 values in df_BCG were not found in df_TB_burden_enriched1: ['XKX']
     country_name iso2 iso3  iso_numeric g_whoregion  year  e_pop_num  \
0     Afghanistan   AF  AFG            4         EMR  2023   41454760
1         Albania   AL  ALB            8         EUR  2023    2811661
2         Algeria   DZ  DZA           12         AFR  2023   46164214
3  American Samoa   AS  ASM           16         WPR  2023      47521
4         Andorra   AD  AND           20         EUR  2023      80854

   e_inc_num  e_tbhiv_prct  e_inc_tbhiv_num  ...  cfr_pct  c_cdr  \
0      75000          0.03             19.0  ...     14.0   66.0
1        430          1.10              4.0  ...      2.0   71.0
2      22000          0.83            180.0  ...      9.0   86.0
3          2          0.37              0.0  ...      NaN    NaN
4          5          0.47              0.0  ...      NaN    NaN

   source_rr_new  e_rr_pct_new  e_inc_rr_num  vaccine_antigen  \
0   Surveillance           2.1          1700              BCG
1   Surveillance           1.3            10              BCG
2         Survey           2.1           490              BCG
3   Surveillance           2.2             0              NaN
4   Surveillance           2.5             0              BCG

         coverage_category  targets_number      doses BCG_coverage
0  Administrative coverage       2057002.0  1969540.0        95.75
1  Administrative coverage         22887.0    22703.0        99.20
2  Administrative coverage        936973.0   924725.0        98.69
3                      NaN             NaN        NaN          NaN
4  Administrative coverage             NaN        NaN          NaN

[5 rows x 24 columns]

In [195]:
# Add population density per country for 2023 (people/km²) from Earth Database stored in df_pop_dens_iso to df_TB_burden

# Select specific columns from df_pop_dens_iso (including "iso3" for merging)
columns_to_add = ["iso3", "population_density"]
df_pop_dens_iso_selected = df_pop_dens_iso[columns_to_add]

# Merge df_TB_burden with df_pop_dens_iso on "iso3" - left join to keep all rows of df_TB_burden
df_TB_burden_enriched3 = df_TB_burden_enriched2.merge(df_pop_dens_iso_selected, on="iso3", how="left")

# Check for unmatched "iso3" values in df_pop_dens_iso
unmatched_iso3 = df_pop_dens_iso_selected[~df_pop_dens_iso_selected["iso3"].isin(df_TB_burden_enriched2["iso3"])]["iso3"].unique()

# Print error message if there are unmatched rows
if len(unmatched_iso3) > 0:
    print("Error: The following iso3 values in df_pop_dens_iso were not found in df_TB_burden_enriched2:", unmatched_iso3)

# Display the merged dataframe
print(df_TB_burden_enriched3.head())

# SEVERAL COUNTRIES WERE DROPPED: 'GIB' 'VAT' 'GGY' 'JEY' 'MYT' 'TWN' 'MAF' 'BLM' 'REU' 'MTQ' 'LIE' 'UMI' 'GLP' 'XXK' 'IMN' 'BES' 'FRO' 'SPM' 'SHN' 'GUF' 'ESH' 'FLK'

Error: The following iso3 values in df_pop_dens_iso were not found in df_TB_burden_enriched2: ['GIB' 'VAT' 'GGY' 'JEY' 'MYT' 'TWN' 'MAF' 'BLM' 'REU' 'MTQ' 'LIE' 'UMI'
 'GLP' 'XXK' 'IMN' 'BES' 'FRO' 'SPM' 'SHN' 'GUF' 'ESH' 'FLK']
     country_name iso2 iso3  iso_numeric g_whoregion  year  e_pop_num  \
0     Afghanistan   AF  AFG            4         EMR  2023   41454760
1         Albania   AL  ALB            8         EUR  2023    2811661
2         Algeria   DZ  DZA           12         AFR  2023   46164214
3  American Samoa   AS  ASM           16         WPR  2023      47521
4         Andorra   AD  AND           20         EUR  2023      80854

   e_inc_num  e_tbhiv_prct  e_inc_tbhiv_num  ...  c_cdr  source_rr_new  \
0      75000          0.03             19.0  ...   66.0   Surveillance
1        430          1.10              4.0  ...   71.0   Surveillance
2      22000          0.83            180.0  ...   86.0         Survey
3          2          0.37              0.0  ...    NaN   Surveillance
4          5          0.47              0.0  ...    NaN   Surveillance

   e_rr_pct_new  e_inc_rr_num  vaccine_antigen        coverage_category  \
0           2.1          1700              BCG  Administrative coverage
1           1.3            10              BCG  Administrative coverage
2           2.1           490              BCG  Administrative coverage
3           2.2             0              NaN                      NaN
4           2.5             0              BCG  Administrative coverage

  targets_number      doses  BCG_coverage population_density
0      2057002.0  1969540.0         95.75            63.8457
1        22887.0    22703.0         99.20           102.6226
2       936973.0   924725.0         98.69            19.3826
3            NaN        NaN           NaN           237.6050
4            NaN        NaN           NaN           172.0340

[5 rows x 25 columns]

In [197]:
# Add poverty index per country for 2023 from United Nations Human Development Report stored in df_pov_indx_iso to df_TB_burden

# Select specific columns from df_pov_indx_iso (including "iso3" for merging)
columns_to_add = ["iso3", "MPI_value", "pop_in_MP_percent"]
df_pov_indx_iso_selected = df_pov_indx_iso[columns_to_add]

# Merge df_TB_burden with df_pov_indx_iso on "iso3" - left join to keep all rows of df_TB_burden
df_TB_burden_enriched4 = df_TB_burden_enriched3.merge(df_pov_indx_iso_selected, on="iso3", how="left")

# Check for unmatched "iso3" values in df_pov_indx_iso
unmatched_iso3 = df_pov_indx_iso_selected[~df_pov_indx_iso_selected["iso3"].isin(df_TB_burden_enriched3["iso3"])]["iso3"].unique()

# Print error message if there are unmatched rows
if len(unmatched_iso3) > 0:
    print("Error: The following iso3 values in df_pov_indx_iso were not found in df_TB_burden_enriched3:", unmatched_iso3)

# Display the merged dataframe
print(df_TB_burden_enriched4.head())

     country_name iso2 iso3  iso_numeric g_whoregion  year  e_pop_num  \
0     Afghanistan   AF  AFG            4         EMR  2023   41454760
1         Albania   AL  ALB            8         EUR  2023    2811661
2         Algeria   DZ  DZA           12         AFR  2023   46164214
3  American Samoa   AS  ASM           16         WPR  2023      47521
4         Andorra   AD  AND           20         EUR  2023      80854

   e_inc_num  e_tbhiv_prct  e_inc_tbhiv_num  ...  e_rr_pct_new  e_inc_rr_num  \
0      75000          0.03             19.0  ...           2.1          1700
1        430          1.10              4.0  ...           1.3            10
2      22000          0.83            180.0  ...           2.1           490
3          2          0.37              0.0  ...           2.2             0
4          5          0.47              0.0  ...           2.5             0

   vaccine_antigen        coverage_category  targets_number      doses  \
0              BCG  Administrative coverage       2057002.0  1969540.0
1              BCG  Administrative coverage         22887.0    22703.0
2              BCG  Administrative coverage        936973.0   924725.0
3              NaN                      NaN             NaN        NaN
4              BCG  Administrative coverage             NaN        NaN

  BCG_coverage  population_density  MPI_value pop_in_MP_percent
0        95.75             63.8457   0.271721         55.910239
1        99.20            102.6226   0.002748          0.703561
2        98.69             19.3826   0.005409          1.380835
3          NaN            237.6050        NaN               NaN
4          NaN            172.0340        NaN               NaN

[5 rows x 27 columns]

In [199]:
# Add smoking rates (%) per country for 2022 form World Population Review stored in df_smoking_iso to df_TB_burden

# Select specific columns from df_smoking_iso (including "iso3" for merging)
columns_to_add = ["iso3", "total_smokers_2022_percent"]
df_smoking_iso_selected = df_smoking_iso[columns_to_add]

# Merge df_TB_burden with df_smoking_iso on "iso3" - left join to keep all rows of df_TB_burden
df_TB_burden_enriched5 = df_TB_burden_enriched4.merge(df_smoking_iso_selected, on="iso3", how="left")

# Check for unmatched "iso3" values in df_smoking_iso
unmatched_iso3 = df_smoking_iso_selected[~df_smoking_iso_selected["iso3"].isin(df_TB_burden_enriched4["iso3"])]["iso3"].unique()

# Print error message if there are unmatched rows
if len(unmatched_iso3) > 0:
    print("Error: The following iso3 values in df_smoking_iso were not found in df_TB_burden_enriched4:", unmatched_iso3)

# Display the merged dataframe
print(df_TB_burden_enriched5.head())

Error: The following iso3 values in df_smoking_iso were not found in df_TB_burden_enriched4: [nan]
     country_name iso2 iso3  iso_numeric g_whoregion  year  e_pop_num  \
0     Afghanistan   AF  AFG            4         EMR  2023   41454760
1         Albania   AL  ALB            8         EUR  2023    2811661
2         Algeria   DZ  DZA           12         AFR  2023   46164214
3  American Samoa   AS  ASM           16         WPR  2023      47521
4         Andorra   AD  AND           20         EUR  2023      80854

   e_inc_num  e_tbhiv_prct  e_inc_tbhiv_num  ...  e_inc_rr_num  \
0      75000          0.03             19.0  ...          1700
1        430          1.10              4.0  ...            10
2      22000          0.83            180.0  ...           490
3          2          0.37              0.0  ...             0
4          5          0.47              0.0  ...             0

   vaccine_antigen        coverage_category  targets_number      doses  \
0              BCG  Administrative coverage       2057002.0  1969540.0
1              BCG  Administrative coverage         22887.0    22703.0
2              BCG  Administrative coverage        936973.0   924725.0
3              NaN                      NaN             NaN        NaN
4              BCG  Administrative coverage             NaN        NaN

   BCG_coverage population_density  MPI_value  pop_in_MP_percent  \
0         95.75            63.8457   0.271721          55.910239
1         99.20           102.6226   0.002748           0.703561
2         98.69            19.3826   0.005409           1.380835
3           NaN           237.6050        NaN                NaN
4           NaN           172.0340        NaN                NaN

  total_smokers_2022_percent
0                       22.7
1                       21.9
2                       21.2
3                        NaN
4                       36.3

[5 rows x 28 columns]

In [201]:
# Add air pollution data (annual average exposure to particulate matter < 2.5µm (PM2.5) concentration in μg/m³)
# for 2023 from IQAIR stored in df_air_pollution_iso to df_TB_burden

# Select specific columns from df_air_pollution_iso (including "iso3" for merging)
columns_to_add = ["iso3", "avg_air_pollution_PM2-5_in_2023"]
df_air_pollution_iso_selected = df_air_pollution_iso[columns_to_add]

# Merge df_TB_burden with df_air_pollution_iso on "iso3" - left join to keep all rows of df_TB_burden
df_TB_burden_enriched6 = df_TB_burden_enriched5.merge(df_air_pollution_iso_selected, on="iso3", how="left")

# Check for unmatched "iso3" values in df_air_pollution_iso
unmatched_iso3 = df_air_pollution_iso_selected[~df_air_pollution_iso_selected["iso3"].isin(df_TB_burden_enriched5["iso3"])]["iso3"].unique()

# Print error message if there are unmatched rows
if len(unmatched_iso3) > 0:
    print("Error: The following iso3 values in df_air_pollution_iso were not found in df_TB_burden_enriched5:", unmatched_iso3)

# Display the merged dataframe
print(df_TB_burden_enriched6.head())

Error: The following iso3 values in df_air_pollution_iso were not found in df_TB_burden_enriched5: ['TWN' 'XXK' 'LIE']
     country_name iso2 iso3  iso_numeric g_whoregion  year  e_pop_num  \
0     Afghanistan   AF  AFG            4         EMR  2023   41454760
1         Albania   AL  ALB            8         EUR  2023    2811661
2         Algeria   DZ  DZA           12         AFR  2023   46164214
3  American Samoa   AS  ASM           16         WPR  2023      47521
4         Andorra   AD  AND           20         EUR  2023      80854

   e_inc_num  e_tbhiv_prct  e_inc_tbhiv_num  ...  vaccine_antigen  \
0      75000          0.03             19.0  ...              BCG
1        430          1.10              4.0  ...              BCG
2      22000          0.83            180.0  ...              BCG
3          2          0.37              0.0  ...              NaN
4          5          0.47              0.0  ...              BCG

         coverage_category  targets_number      doses  BCG_coverage  \
0  Administrative coverage       2057002.0  1969540.0         95.75
1  Administrative coverage         22887.0    22703.0         99.20
2  Administrative coverage        936973.0   924725.0         98.69
3                      NaN             NaN        NaN           NaN
4  Administrative coverage             NaN        NaN           NaN

   population_density MPI_value  pop_in_MP_percent  \
0             63.8457  0.271721          55.910239
1            102.6226  0.002748           0.703561
2             19.3826  0.005409           1.380835
3            237.6050       NaN                NaN
4            172.0340       NaN                NaN

   total_smokers_2022_percent avg_air_pollution_PM2-5_in_2023
0                        22.7                             NaN
1                        21.9                            16.7
2                        21.2                            13.8
3                         NaN                             NaN
4                        36.3                             7.9

[5 rows x 29 columns]

Data wrangling - checking and transforming data types

In [203]:
# Summary of the data: checking data types
column_summary_df_TB_burden_enriched6 = pd.DataFrame({
    'Column Name': df_TB_burden_enriched6.columns,
    'Data Type': df_TB_burden_enriched6.dtypes.values,
    'Percentage Null': df_TB_burden_enriched6.isnull().mean().values * 100,
    'Unique Values': df_TB_burden_enriched6.nunique().values
})

print(column_summary_df_TB_burden_enriched6)

                        Column Name Data Type  Percentage Null  Unique Values
0                      country_name    object         0.000000            215
1                              iso2    object         0.458716            214
2                              iso3    object         0.000000            215
3                       iso_numeric     int64         0.000000            215
4                       g_whoregion    object         0.000000              6
5                              year     int64         0.000000              1
6                         e_pop_num     int64         0.000000            215
7                         e_inc_num     int64         0.000000            153
8                      e_tbhiv_prct   float64         0.000000            111
9                   e_inc_tbhiv_num   float64         0.000000            119
10             e_mort_exc_tbhiv_num   float64         0.458716            136
11                 e_mort_tbhiv_num   float64         1.376147             93
12                       e_mort_num   float64         4.587156            144
13                              cfr   float64         4.587156             40
14                          cfr_pct   float64         8.256881             38
15                            c_cdr   float64        10.091743             61
16                    source_rr_new    object         0.000000              5
17                     e_rr_pct_new   float64         0.000000             76
18                     e_inc_rr_num     int64         0.000000            118
19                  vaccine_antigen    object         4.128440              1
20                coverage_category    object         4.128440              1
21                   targets_number   float64        24.311927            161
22                            doses   float64        26.146789            158
23                     BCG_coverage   float64        26.605505            148
24               population_density   float64         0.458716            215
25                        MPI_value   float64        48.623853            110
26                pop_in_MP_percent   float64        48.623853            110
27       total_smokers_2022_percent   float64        23.394495            130
28  avg_air_pollution_PM2-5_in_2023   float64        38.532110            110

In [207]:
# Safe the updated datafile for df_TB_burden_enriched6 dataframe:
# df_TB_burden_enriched6.to_csv("df_TB_burden_enriched.csv", index=False)
# ONLY DONE ONCE !